<?xml version="1.0"?>
<root>
    <device>
        <name>USRP Device</name>
        <IP>192.168.10.2</IP>
    </device>
    <config>
        <TX_SUBDEV>A:0</TX_SUBDEV>
        <RX_SUBDEV>A:0</RX_SUBDEV>
        <TX_ANTENNA>TX/RX</TX_ANTENNA>    
        <RX_ANTENNA>RX2</RX_ANTENNA>
        <WAVEFORM_FILE>sweep.csv</WAVEFORM_FILE>
    </config>
    <frequency>
        <TX_FREQ>805e6</TX_FREQ>
        <RX_FREQ>800e6</RX_FREQ>
        <TX_RATE>25e6</TX_RATE>
        <RX_RATE>25e6</RX_RATE>
        <TX_BW>400e5</TX_BW>
        <RX_BW>400e5</RX_BW>
        <TX_GAIN>0</TX_GAIN>
        <RX_GAIN>3</RX_GAIN>
    </frequency>
    <test>
        <TEST_TYPE>LOOPBACK_FROM_FILE</TEST_TYPE>
        <NUM_SAMPLES>500e3</NUM_SAMPLES>
        <RX_START_TIME>0.1</RX_START_TIME>
        <TX_START_TIME>0.1</TX_START_TIME>
    </test>
    <radar>
        <RADAR_TYPE>SFCW</RADAR_TYPE>
        
    </radar>
    <options>
        <OUTPUT_FILE></OUTPUT_FILE>
        <VERBOSE>true</VERBOSE>
    </options>
</root>