<?xml version="1.0"?>
<root>
    <device>
        <name>USRP Device</name>
        <IP>192.168.10.2</IP>
    </device>
    <config>
        <TX_SUBDEV>A:0</TX_SUBDEV>
        <RX_SUBDEV>A:0</RX_SUBDEV>
        <REF_CLOCK>external</REF_CLOCK>
        <TX_ANTENNA>TX/RX</TX_ANTENNA>
        <RX_ANTENNA>RX2</RX_ANTENNA>
    </config>
    <frequency>
        <TX_FREQ>900e6</TX_FREQ>
        <RX_FREQ>900e6</RX_FREQ>
        <TX_RATE>25e6</TX_RATE>
        <RX_RATE>25e6</RX_RATE>
        <TX_BW>350e3</TX_BW>
        <RX_BW>350e3</RX_BW>
        <TX_GAIN>0</TX_GAIN>
        <RX_GAIN>3</RX_GAIN>
    </frequency>
    <test>
        <TEST_TYPE>RX_TEST</TEST_TYPE>
        <SETTLING_TIME></SETTLING_TIME>
    </test>
    <radar>
        <RADAR_TYPE>SFCW</RADAR_TYPE>
        <WAVEFORM_FILE></WAVEFORM_FILE>
    </radar>
    <options>
        <OUTPUT_FILE></OUTPUT_FILE>
        <VERBOSE>true</VERBOSE>
    </options>
</root>